@{
    ViewData["Title"] = "Home Page";
}

<div style="width:800px; margin:0 auto;" class="text-center">
    <h1 class="display-4">Menu</h1>
    <a href="People/Index">Access database</a>
    <br /><a href="People/Create">Add new person into database</a>
    
</div>
